app-table-header {
    display:contents;
}

app-table-body {
    display:contents;
}

app-table-tr {
    display:contents;
}

app-table-td {
    display:contents; 
}


.postList {
    margin-left: 20px;
    margin-top: 10px;
}