
<!-- <table class="min-w-full divide-y divide-gray-200"> -->
  <tbody class="bg-white divide-y divide-gray-200">
    
    <tr *ngFor = "let user of users" class="hover:bg-gray-50 cursor-pointer">
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
          <div class="flex-shrink-0 h-10 w-10">
            <img
              class="h-10 w-10 rounded-full"
              src="{{user.image}}"
              alt=""
            />
           
          </div>
          <div class="ml-4">
            <div class="text-sm font-medium text-gray-900">
             {{user.name}}
            </div>
            <div class="text-sm text-gray-500">
              {{user.email}}
            </div>
          </div>
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">
          {{user.title}}
        </div>
        <div class="text-sm text-gray-500">{{user.department}}</div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <app-status></app-status>
      </td>
      <td
        class="
          px-6
          py-4
          whitespace-nowrap
          text-sm text-gray-500
        "
      >
        {{user.role}}
      </td>
      <td
        class="
          px-6
          py-4
          whitespace-nowrap
          text-right text-sm
          font-medium
        "
      >
        <app-btn></app-btn>
      </td>
    </tr>

    
  </tbody>
<!-- </table> -->



    


