<thead class="bg-gray-50">
  <tr>
    
    <th
      *ngFor='let items of titles'
      scope="col"
      class="
        px-6
        py-3
        text-left text-xs
        font-medium
        text-gray-500
        uppercase
        tracking-wider
      "
    >

    <span [ngClass]="{'sr-only' :!items.visible}">
      {{items.text}}
    </span>
    

    <!-- <ng-container *ngIf=' items.visible'; else textSRonly>
        {{items.text}}
    </ng-container>

    <ng-template #textSRonly>
      <span class="sr-only">Edit</span>
    </ng-template>
       -->
    </th>
    
  </tr>
</thead>